* {
    padding: 0;
    margin: 0;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;

}

nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar {
    display: flex;
    padding: 10px;
    border-bottom: solid 1px black;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}


.navbar__s1 h1 {
    color: #A434F0;
    justify-content: right;
    font-weight: bold;
}

.navbar__s2 {
    padding: 10px;
    border: solid 1px black;
    width: 60%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none
}

.navbar__s3 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    border:1px transparent solid;

}

.navbar__s3  p:hover {
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

/* My learning popup */

.mylearning{
    position: relative;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: black 1px solid;
    width:200px;
    top: 30px; padding: 15px;
    right: 100px; left: 0;
    display: none;

}

.course_popup:hover{
    cursor: pointer;
    text-decoration: underline;
}

.mylearning:hover{
    text-decoration: underline 2px;
    .mylearning__popup{
        display: block;
    }
}

.categories {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 5px;
}

.categories p {
    background-color: #A434F0;
    color: white;
    padding: 15px;
    border-radius: 50px;
    border: transparent 1px solid;
}

.categories p:hover {
    background-color: white;
    color: black;
    border: black 1px solid;
}

.sale-image img {
    width: 100%;
    height: 500px;
    padding: 10px;
}

.sale-image{
    position: relative;
}

.sale-image__offer{
    padding: 15px;
    background-color: white;
    position:absolute;
    top:20%;
    left:10%;
    border: solid 1px black;
    opacity: 0;
    animation-name: zoom;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.sale-image__offer{
    animation-name: shake;
    transition-duration: 2s;
    transition-delay: 3s;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 1;
    animation-iteration-count: infinite;
}

@keyframes shake {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}



.recommend {
    padding: 10px;
}

.course-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card {
    width: 250px;
    border: 3px solid transparent;
}

.course-card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    text-align: center;
    border: solid 2px black;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.topics__container p:hover {
    background-color: grey;
    color: white;
}

.popular {
    padding: 10px;
}

.popular__container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.popular__container div {
    flex-grow: 4;
    flex-basis: 25%
}

.footer__one {
    display: flex;
    gap: 55px;
    padding: 10px;
    background-color: black;
}

.footer__one__s1 p {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.footer__one__s2 p {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.footer__two {
    background-color: black;
    color: white;
    display: flex;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
    align-items: center;
    justify-content: space-between;
}

/* Media Quiries */

@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }

    .course-container{
        flex-basis: 50%;
    }

    .categories{
        padding-top: 1px;
        padding-bottom: 1px;
        height:fit-content;
        text-align: center;
        align-items: center;
        
    }

    .navbar__s3 p{
        text-align: center;
    }
    
}

.navbar__s3__icon1 , .navbar__s3__icon2 , .navbar__s3__icon3{
    border: 1px transparent solid;
}

.navbar-cart_icon_hover{
    border: 1px solid transparent;
}

.navbar-bell_icon_hover{
    border: 1px solid transparent;
}

.navbar-person_icon_hover{
    border: 1px solid transparent;
}

.navbar-cart_icon_hover:hover{
    border: 1px solid rgb(87, 86, 86);
    cursor: pointer;
    width: fit-content;
    border-radius: 100%;

}

.navbar-bell_icon_hover:hover{
    border: 1px solid rgb(87, 86, 86);
    cursor: pointer;
    width: fit-content;
    border-radius: 100%;

}

.navbar-person_icon_hover:hover{
    border: 1px solid rgb(87, 86, 86);
    cursor: pointer;
    width: fit-content;
    border-radius: 100%;

}

.course-card:hover{
    box-shadow: 5px 5px rgb(119, 117, 117);
    border-radius: 10px;
    border: 2px solid black;
}

.footer__one__s2 p:hover{
    text-decoration: underline;
    cursor:pointer;
}

.footer__one__s1   p:hover{
    text-decoration: underline;
    cursor:pointer;
}